################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicsofCharp
/BasicsofCharp/bin/Debug/net5.0
/BasicsofCharp/obj
